<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Very special <small class="d-none">🛡️</small></h2>
        <p><blockquote>I love the profile of this boat. Note the strong sheerline and clipped overhangs coupled with a shapely cabintrunk. Side decks are very wide, and the cockpit is big. The cockpit coamings are cut away aft to open up the entire deck area for the helmsman. All dimensions and proportions are on the svelte side, promising a boat that will sail extremely quickly.<br/>...<br/>I'll warn you ahead of time that this is precisely my type of boat.</blockquote> Reference <a href="https://www.boats.com/reviews/perry-design-review-j160/" target="_blank" rel="noopener">boats.com - Perry Design Review</a></p>
		Note - That's her name in Italian.
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}"/>
        </svg>
        <h2 class="h2">Race winning fast<small class="d-none">🚀</small></h2>
        <p><blockquote>In terms of speed, J/160 is in the 60-70 foot spectrum. Consider VMG (Velocity Made Good, either directly into the wind or directly downwind regardless of tacking or jibing angles). A J/160 sailing to windward at 8 knots has a VMG of 6.3 knots straight into the wind. Of course on a reach in moderate wind you'll see over 10 most of the day - faster and quieter than trawlers with no rolling about or extreme fuel bills.</blockquote> Reference <a href="https://www.jboats.com/j160-sailboat-cruising-performance" target="_blank" rel="noopener">JBoats.com</a></p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}"/>
        </svg>
        <h2 class="h2">Oceangoing <small class="d-none">📈</small></h2>
        <p><blockquote>There is no second to this. There was only one place that truly awe-inspired the whole crew. That was off the coast of South Africa in the area they call the Cape of Storms. We were warned in all the guide books that this area was very hazardous, and it was. We ran into four 55 knot storms in the space of two weeks. The locals would say you just cant be out in it, its like being in a Northerly in the Gulf Stream. The Agulhas Current goes around the Cape of Good Hope at 3-4 knots and when you put the wind against it, the seas are just awful. They crack freighters in half. There are only a couple of spots in the world where theyve recorded 100 foot seas, and this is one of them.</blockquote> Reference <a href="https://www.jboats.com/j160/j160-piper-world-rally" target="_blank" rel="noopener">JBoats.com</a> - Rod Johnstone and Dr. Scott Piper/PIPEDREAM (J/160)</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Rod Johnstone<small class="d-none">🦉</small></h2>
        <p><blockquote>This is excellent performance for a 53 footer whose keel only draws a shade over seven feet. When the wind blows over 25 knots true and the jib is rolled up, the boat can sustain a true wind angle of 40 degrees and a boat speed of 6.8 knots. With the carbon mast, the single spectra checkstay (stowed alongside the mast) is only used when beating to windward in heavy seas.</blockquote> Reference <a href="https://www.jboats.com/j160/j160-performance-sailing-experience" target="_blank" rel="noopener">JBoats.com</a></p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Well cared for <small class="d-none">✨</small></h2>
        <p><blockquote>Home office of a family dedicated to the cause of education, scientific advancement and adventure. She has volunteer support crews around the world. The care takers love to the boat and spares no expenses to keep her in ocean-going shape.</blockquote></p>
		Home of <a href="https://space-rf.org" target="_blank" rel="noopener">Space-RF.org</a>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Sweet home<small class="d-none">🧰</small></h2>
        <p><blockquote>The interior is spacious, clean in execution, beautifully appointed and exquisitely finished, befitting a proper flagship. Every detail and need has been addressed in terms of provisioning, equipment and storage space for coastal and offshore cruising.

The live-aboard comfort and styling of this yacht goes far beyond what you might expect from J Boats whose reputation was first built in world class racing.</blockquote> Reference <a href="https://www.jboats.com/j160-sailboat-cruising-performance" target="_blank" rel="noopener">JBoats.com</a></p>
    </div>
</div>
